<table>
<tr><th>Block</th><th>Asset</th><th>Reissuable?</th></tr>
{% for row in assets %}
    <tr><td>{{row[0]}}</td><td><a href='/asset/{{row[2]}}'>{{row[2]}}</a></td><td>{{"Yes" if row[3] != None else "No"}}</td></tr>
{% endfor %}

</table>